<main>
  <section>
    <h1>TODO List</h1>
    <p>A place to store todos</p>
    <form>
      <input type="text" name="filter" placeholder="filter your to-dos" />
    </form>
    <ol>
      <li *ngFor="let object of todos">
        <button *ngIf="!object.completed" class="if-complete">Complete</button>
        <span>{{ object.task }}</span>
        <button>X</button>
      </li>
    </ol>
    <form action="">
      <input type="text" name="todo" placeholder="" Add Your to-do />
      <button input="Submit">Add</button>
    </form>
  </section>
</main>
