<main>
  <section>
    <h1>TODO List</h1>
    <p>A place to store todos</p>
    <form>
      <input
        [(ngModel)]="searchText"
        class="filter"
        type="text"
        name="filter"
        placeholder="filter your to-dos"
      />
    </form>
    <ol>
      <li *ngFor="let object of todos | filter: searchText">
        <button
          (click)="completeTask(object)"
          *ngIf="!object.completed"
          class="done"
        >
          Complete
        </button>
        <span class="task" [ngClass]="{ completed: object.completed }">{{
          object.task
        }}</span>
        <button class="delete" (click)="removeTask(object)">X</button>
      </li>
    </ol>
    <form action="">
      <input #task type="text" name="todo" placeholder="" Add Your to-do />
      <button class="add" (click)="addTask(task.value); task.value = ''">
        Add
      </button>
    </form>
  </section>
</main>
